.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-repeat: no-repeat;
    margin: 35px 0 0 244px;
    background-color: #000000;

    background-size: contain;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

@media screen and (max-width: 950px) {
    .profile__add-button {
        width: 120px;
        height: 40px;
        margin-left: 43px;
    }
}

@media screen and (max-width: 650px) {
    .profile__add-button {
       width: 282px;
       height: 50px;
       margin: 36px auto 0;
} 
}