.popup__botton-clear {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 438px;
    bottom: 338px;
}

@media screen and (max-width: 650px) {
    .popup__botton-clear {
        left: 260px;
        bottom: 346px;
        max-width: 20px;
        max-height: 20px;
    }
}